[submodule "antigen"]
	path = antigen
	url = git://github.com/zsh-users/antigen
	branch = master
[submodule "emacs.d"]
	path = emacs.d
	url = git://github.com/syl20bnr/spacemacs
	branch = master
[submodule "tpm"]
	path = tpm
	url = git://github.com/tmux-plugins/tpm
